@model IEnumerable<ProductWeb.Models.db.Payment>
@{
    ViewData["Title"] = "Complete";
}

<div class="container">
    <div class="row ">
        <div class="col-sm-12">
            <h1 class="mt-5 mb-3" style="text-align: center; font-size : 40px;">การสั่งซื้อสำเร็จ</h1>
            <div class="text-center">
                <img src="https://img.freepik.com/free-vector/logistic-workers-delivering-meds-warehouse-employees-loading-truck-with-pills-flat-illustration_74855-14097.jpg?size=626&ext=jpg" class="img-fluid mb-3" alt="...">
            </div>
            <h3 style="text-align: center; font-size: 25px;">ขอขอบคุณสำหรับการเลือกซื้อสินค้าของเรา</h3>
            <h3 style="text-align: center; font-size: 25px;">สินค้าจะถูกจัดส่งให้ถึงบ้านประมาณ 3-7 วัน</h3>
            </div>
        </div>
</div>

