@{ ViewData["Title"] = "About Us"; }
<link rel="stylesheet" href="~/css/sheet_one.css" />

<div class="container">
    <h1 class="titleB">เราพร้อมช่วยคุณเสมอ</h1>
    <div class="block">
        <div class="block-item">
            <div class="item">
                <img src="/image/p1.jpg" />
                <h3 class="name">นายชนกันต์ เกื้อวรกุลชัย (เว็บ)</h3>
                <div class="text">
                    <span>ตำเเหน่ง : นักพัฒนาเว็บไซต์</span><br>
                    <span>อีเมลติดต่อ : chanakan.website2409@mail.kmutt.ac.th</span><br>
                    <span>เบอร์โทรศัพท์ : 091-731-0774</span>
                </div>
            </div>
        </div>
        <br />
        <div class="block-item">
            <div class="item">
                <img src="/image/p2.jpg" />
                <h3 class="name">นายศุภฤกษ์ หมั่นทำ (ตูมตาม)</h3>
                <div class="text">
                    <span>ตำเเหน่ง : นักพัฒนาเว็บไซต์</span><br>
                    <span>อีเมลติดต่อ : suparek.ttsm@mail.kmutt.ac.th</span><br>
                    <span>เบอร์โทรศัพท์ : 090-917-1000</span>
                </div>
            </div>
        </div>
    </div>
</div>

